{% extends "blogApp/padre.html" %}

{% load static %}




{% block titulo_pagina %}
<h3 class="masthead-heading text-uppercase mb-0">Perfil de {{request.user.username}}</h3>
<img src="{{image_url}}" alt="Imagen" class="rounded-circle" style="max-width:250px;width:100%">
<a style="color: black;" href="{% url 'upload_avatar' %}">Editar foto</a>

<h3 class="font-weight-bold" style="margin:0%">Datos de perfil</h3>

<h6 class="font-weight-bold" style="margin:0%">Nombre: {{user.first_name}}</h6>
<h6 class="font-weight-bold" style="margin:0%">Apellido: {{user.last_name}}</h6>
<h6 class="font-weight-bold" style="margin:0%">Email: {{user.email}}</h6>
<h6 class="font-weight-bold" style="margin:0%">Ultimo ingreso: {{user.last_login}}</h6>
<h6 class="font-weight-bold" style="margin:0%">Te uniste: {{user.date_joined}}</h6>
{% endblock %}

{% block contenidoQueCambiara %}


<!--Informacion del usuario
-->


{% endblock %}